
.Sbox{
    margin: auto;
    top: 0px;
    right: 0;
    left: 0;
    position: absolute;
    height: 850px;
     background-image:linear-gradient(rgba(1,0,0,0.5), rgba(1,0,0,0.5)), url("backgroud/fb493b_2a358f87834a455a9c93f863916fceba.jpg");
}
.signin{
    
    position: absolute;
    width: 650px;
    height: 630px;
    border-radius: 10px;
    background-color: #3c6382;
    margin-top: 50px;
    margin-left: 600px;
    
}

.signin2{
    position: absolute;
    width: 650px;
    height: 790px;
     border-radius: 10px;
    background-color: #3c6382;
    margin-top: 50px;
    margin-left: 600px;
}

.in1{
    width: 200px;
    height: 28px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.grp{
    margin-top: 60px;
    margin-left: 30px;
    /*background-color: yellow;*/
    width: 210px;
}

.spn1{
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
    color: #f7f1e3;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

.spn2{
   color: #f7d794;
    font-size: 18px;
    font-family: "Comic Sans MS"; 
}

.btn1{
    width: 150px;
    height: 35px;
    background-color: #26de81;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: wheat;
}

.btn2{
    position: absolute;
    margin-left: 480px;
    margin-top: 30px;
    
}

.img{
    position: absolute;
    width: 300px;
    height: 380px;
    margin-left: 300px;
    margin-top: 150px;
    background-image: url("backgroud/68d82f2046dda8b223b158c0ce78a931.jpg");
    background-size: 300px 380px;
    border-radius: 20px;
}

.frstbox{
    position: absolute;
    width: 650px;
    height: 450px;
    margin-top: 290px;
    margin-left: 510px;
    /*background-color: aqua;*/

}

.body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(1,0,0,0.5), rgba(1,0,0,0.5)), url("backgroud/1657885-bigthumbnail.jpg");
}

.in2{
    /*margin-left: 30px;*/
    width: 480px;
    height: 33px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background-color: transparent;
    text-indent: 30px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    
}

.btn3{
    margin-left: 150px;
}

.grp1{
    margin-left: 400px;
}

.menu1{
    position: absolute;
    margin: auto;
    top: 0;
    /*right: 0;*/
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #8dc63f;
    
}

.sbox{
    margin-left: 380px;
    margin-top: 30px;
    
}

.btn4{
    margin-top: 50px;
    position: absolute;
}

.d1{
    margin-left: 30px;
    width: 800px;
    height: 200px;
    background-color: #f7d794;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.spn3{
    font-size: 28px;
   
}

.searchBox{
    background-image:linear-gradient(rgba(1,0,0,0.5), rgba(1,0,0,0.5)), url("backgroud/1657885-bigthumbnail.jpg");
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    height: 400px;
}

.secndbox{
   position: absolute;
   margin: auto;
   top: 400px;
   right: 0;
   left: 0;
   margin-left: 450px;
   margin-top: 30px;
}

.wid{
    width: 260px;
    height: 40px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    text-indent: 50px;
}

.btn4{
    width: 350px;
    height: 40px;
    background-color: #26de81;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: wheat;
    margin-top: -1px;
}

.id1{
    position: absolute;
    margin-top: 40px;
    margin-left: -340px;
}